/* Resetting Useragent Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
}

.logo {
    height: 2.4rem;
    width: auto;
}
